{% extends "base/layout.html" %}

{% block title %}
	Calculator page
{% endblock title %}

{% block content %}

<h1>Eded daxil edin_vurma cedveli ucun</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="number">Reqemi elave edin:</label>
        <input type="text" id="number" name="number" required>
        <button type="submit">Submit</button>
    </form>
    {% if error %}
    <p style="color: red;">{{ error }}</p>
{% endif %}

{% if results %}
    <h2>Results for {{ number }}:</h2>
    <ul>
        {% for result in results %}
            <li>{{ forloop.counter }} x {{ number }} = {{ result }}</li>
        {% endfor %}
    </ul>
{% endif %}

    {% endblock content %}